<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="webUi" ng-strict-di>
<head>
    <title update-title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
    <link type="text/css" href="css/bundle.css" rel="stylesheet" />
</head>
<body>
    <ion-nav-view></ion-nav-view>
    <!-- Scripts -->
    <script src="js/bundle.js"></script>
    <!-- Debug -->
</body>
</html>